<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>App nav</title>
</head>
<body>
<div th:fragment="nav-admin">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/share/owl.carousel.min.css" th:href="@{/css/share/owl.carousel.min.css}" rel="stylesheet">
    <link href="/css/share/tempusdominus-bootstrap-4.min.css" th:href="@{/css/share/tempusdominus-bootstrap-4.min.cs}" rel="stylesheet"/>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/share/bootstrap.min.css" th:href="@{/css/share/bootstrap.min.css}" rel="stylesheet">
    <!-- Template Stylesheet -->
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner"
             class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0" th:text="${#authentication.getPrincipal().getUsername()}"></h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a onclick="gotoUrl('/admin')" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Elements</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item">Other Elements</a>
                        </div>
                    </div>
                    <a onclick="gotoUrl('/admin/manage-customer')" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Customer Management</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Loans Management</a>
                        <div class="dropdown-menu bg-transparent border-0">
<!--                            <a onclick="gotoUrl('/admin/manage-loans')" class="dropdown-item">Loans List</a>-->
                            <a onclick="gotoUrl('/admin/manage-loans-package')" class="dropdown-item">Loans Package</a>
                        </div>
                    </div>
                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
                    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/share/chart/chart.min.js" th:src="@{/js/share/chart/chart.min.js}"></script>
    <script src="/js/share/easing.min.js" th:src="@{/js/share/easing.min.js}"></script>
    <script src="/js/share/waypoints.min.js" th:src="@{/js/share/waypoints.min.js}"></script>
    <script src="/js/share/owl.carousel.min.js" th:src="@{/js/share/owl.carousel.min.js}"></script>
    <script src="/js/share/owl.carousel.min.js" th:src="@{/js/share/owl.carousel.min.js}"></script>
    <script src="/js/share/moment.min.js" th:src="@{/js/share/moment.min.js}"></script>
    <script src="/js/share/moment-timezone.min.js" th:src="@{/js/share/moment-timezone.min.js}"></script>
    <script src="/js/share/tempusdominus-bootstrap-4.min.js" th:src="@{/js/share/tempusdominus-bootstrap-4.min.js}"></script>

    <!-- Template Javascript -->
    <script src="/js/admin-menu.js" th:src="@{/js/admin-menu.js}"></script>
</div>
</body>
</html>